@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* , *::before , *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Bg-color : #000;
    --Bg-second : #222222;
    --Color-primary : #fff;
    --Color-secondary : #e6533c;
    --text-muted : #8C8C8C;
    --Padding-min : 4% 10%;
    --Padding-second : 0.5rem;
    --fontSize-Defult : 1.25rem;
    --fontSize-small : 0.88rem;
}
a , li {
    text-decoration: none;
    list-style: none;
    color: var(--Color-primary);
}
.text-muted{
    color: var(--text-muted);
}
.d-fr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    display: block;
    width: 100%;
    font-family: 'Inter';
    line-height: 1.2;
    background-color: var(--Bg-color);
}

/* === HEADER === */
header{
    display: block;
    width: 100%;
    padding: var(--Padding-min);
    background-color: var(--Bg-second);
    background-image: linear-gradient(0deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%) , linear-gradient(180deg, rgba(17, 17, 17, 0.391),rgba(119, 119, 119, 0) 100%);
}

/* === NAVBAR === */
nav{
    color: var(--Color-primary);
    width: 100%;
}
nav > a {
    font-weight: bolder;
    color: var(--Color-secondary);
    font-style: oblique;
    font-size: clamp(1.88rem , 3vw , 2rem);
}
nav .section-Btn{
    width: 25rem;
    justify-content: space-between;
    border: 1px solid #e6533c57;
    border-radius: 2rem;
    overflow: hidden;
    padding: calc(1rem + -13px);;
    line-height: 2;
    margin-right: 5rem;
}
nav .section-Btn > span{
    cursor: pointer;
    font-weight: 300;
    width: 5rem;
    text-align: center;
    font-size: var(--fontSize-small);
}
nav .section-Btn > span.active{
    border-radius: 2rem;
    background-color: var(--Color-secondary);
}
.hero-section{
    flex-wrap: wrap;
}
.hero-section > div{
    width: 50%;
}
.hero-section .hero-section-content-text-btnz{
    text-align: left;
}
.hero-section .hero-section-content-text-btnz h1.hr-title{
    color: var(--Color-primary);
    font-size: clamp(2.5rem , 5vw , 5rem);
    line-height: 1.2;
}
.hero-section .hero-section-content-text-btnz h1 > span.ce-font{
    font-family: 'Miama', sans-serif;
    letter-spacing: 6px;
}
p.hr-descripsion {
    margin: 2rem 0;
    font-size: var(--fontSize-small);
}
.hr-btns{
    justify-content: left;
    gap: 1rem;
}
button.hr-btn {
    padding: 2% 10%;
    border: 1px solid var(--Color-primary);
    border-radius: 3rem;
    font-size: 1.2vw;
    font-weight: 600;
    background-color: transparent;
    color: var(--Color-primary);
    cursor: pointer;
    transition: all 0.20s linear;
    position: relative;
    z-index: 1;
}
button.hr-btn.disable:hover{
    background-color: var(--Color-secondary);
    border: 1px solid var(--Color-secondary);
    box-shadow: 0px 0px 20px var(--Color-secondary);
}
button.hr-btn.active{
    border: 1px solid var(--Color-secondary);
    background-color: var(--Color-secondary);
}
.hero-section .hero-section-content-img-info{
    display: block;
    position: relative;
}
.hero-section .hero-section-content-img-info > img{
    display: block;
    max-width: 100%;
    margin-left: 15%;
}
span.hr-card > small{
    font-weight: 300;
    font-size: var(--fontSize-small);
}
span.hr-card.hr-right , span.hr-card.hr-left{
    position: absolute;
    top: 10rem;
    right: 4rem;
    border-radius: 0.5rem;
    padding: 2% 3%;
    color: var(--Color-primary);
    font-size: 1.88rem;
    font-weight: 800;
    background: #ffffff12;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid #ffffff14;
    line-height: 1;
}
span.hr-card.hr-left {
    padding: 2% 3%;
    top: initial;
    right: initial;
    bottom: 9%;
    left: 3%;
    padding-left: 4rem;
    font-size: 1.44rem;
}
span.hr-card.hr-left::before{
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: var(--Color-secondary);
    left: 0;
    top: 25%;
    margin-left: 1rem;
    border-radius: 50%;
    transition: 1s linear;
    animation: blink 2s linear infinite;
}
@keyframes blink {
    0%{
        box-shadow: 0px 0px 0px var(--Color-secondary);
    } 
    50%{
        box-shadow: 0px 0px 10px var(--Color-secondary);
    } 
    100%{
        box-shadow: 0px 0px 0px var(--Color-secondary);
    }
}